.home-content {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("/images/coffee33.jpg") no-repeat;
    margin-top: -1px;
    margin-bottom: -1px;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
}

.hero h1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 36px;
    line-height: 1.1;
}
.hero h3{
    color: white;
    font-size: 25px;
}

.hero p {
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 40px auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

.btn-primary {
    background-color: transparent;
    color: white;
    border-color: #818181 !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 22px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.btn-primary:hover {
    background-color: transparent;
    color: white;
    border-color: #e7e7e7 !important;

}

.btn-primary:active {
    transform:translateY(1px);
}
.hero .active {
    letter-spacing: 1px;
    font-weight: bold;
    border-color: #fff;
    border: thin;
    border-style: solid;
    border-radius: 0.3em;
}